@model List<WebProgramalamaProje.Models.TownModel>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Index";
}

<h1>@_localization.GetKey("TownIndexTitle")</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">@_localization.GetKey("Create")</a>
</p>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @_localization.GetKey("Name")
                    </th>
                    <th>
                        @_localization.GetKey("City")
                    </th>
                    <th>
                        @_localization.GetKey("Country")
                    </th>
                    <th>@_localization.GetKey("Edit") & @_localization.GetKey("Delete")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="item-@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">@_localization.GetKey("Edit")</a>
                            <button class="delete-button btn btn-danger" data-id="@item.Id">@_localization.GetKey("Delete")</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.delete-button').click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Town")',
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        $('#item-' + id).remove(); // Remove the item row from the table
                    } else {
                        // Handle failure
                    }
                }
            });
        });
    });
</script>