@model List<DoctorWorkTimesModel>
@using WebProgramalamaProje.Services;
<table class="table">
    <thead>
        <tr>
            <th>
                @_localization.GetKey("Day")
            </th>
            <th>
                @_localization.GetKey("ShiftStart")
            </th>
            <th>
                @_localization.GetKey("ShiftEnd")
            </th>
            <th>@_localization.GetKey("Edit") & @_localization.GetKey("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="item-@item.Id">
                <td>
                    @Utils.GetDayAsString(item.Day)
                </td>
                <td>
                    @item.ShiftStart.ToShortTimeString()
                </td>
                <td>
                    @item.ShiftEnd.ToShortTimeString()
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="DoctorWorkTimes" asp-route-id="@item.Id" asp-action="Edit">@_localization.GetKey("Edit")</a>
                    <button class="delete-button btn btn-danger" data-id="@item.Id">@_localization.GetKey("Delete")</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.delete-button').click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "DoctorWorkTimes")',
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        $('#item-' + id).remove(); // Remove the item row from the table
                    } else {
                        // Handle failure
                    }
                }
            });
        });
    });
</script>