@model WebProgramalamaProje.Models.CombinedModels.HospitalTownModel

@{
    Layout = "_LayoutAdmin";

    ViewData["Title"] = "Create";
}
<form asp-action="Create" method="post">

    <div class="content-header clearfix">
        <h1 class="float-left">
            Create A New Hospital
        </h1>
        <div class="float-right">
            <button type="submit" value="Save" class="btn btn-primary mt-3">@_localization.GetKey("Submit")</button>
            <a class="btn btn-secondary mt-3" asp-controller="Hospital" asp-action="Index">@_localization.GetKey("BackToList")</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Hospital.Name">@_localization.GetKey("Name")</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Hospital.Name" class="form-control" placeholder="@_localization.GetKey("Name")">
                    </div>
                </div>
                <span asp-validation-for="Hospital.Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Hospital.TownId">@_localization.GetKey("Town")</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" asp-for="Hospital.TownId">
                            @foreach (var town in Model.Towns)
                            {
                                <option value="@town.Id">@town.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <span asp-validation-for="Hospital.TownId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Hospital.Email">@_localization.GetKey("FormMailAdress")</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Hospital.Email" class="form-control" placeholder="@_localization.GetKey("Hospital") @_localization.GetKey("FormMailAdress")">
                    </div>
                </div>
                <span asp-validation-for="Hospital.Email" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Hospital.PhoneNumber">@_localization.GetKey("Hospital") @_localization.GetKey("PhoneNumber")</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Hospital.PhoneNumber" class="form-control" placeholder="@_localization.GetKey("Hospital") @_localization.GetKey("PhoneNumber")">
                    </div>
                </div>
                <span asp-validation-for="Hospital.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Hospital.Address">@_localization.GetKey("Hospital") Address</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Hospital.Address" class="form-control" placeholder="Hospital Address">
                    </div>
                </div>
                <span asp-validation-for="Hospital.Address" class="text-danger"></span>
            </div>

        </div>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}