@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAdmin";
}

@model List<WebProgramalamaProje.Models.CombinedModels.HospitalTownFieldsModel>

<h1>Hospitals List</h1>

<p>
    <a asp-controller="Hospital" asp-action="Create" class="btn btn-primary">Create New Hospital</a>
</p>
<div class="card">
    <div class="card-body">
        <table class="table">

            <thead>
                <tr>

                    <th scope="col">Hospital Name</th>
                    <th scope="col">Hospital Town</th>
                    <th scope="col">Hospital Address</th>
                    <th scope="col">Hospital Email</th>
                    <th scope="col">Hospital PhoneNumber</th>

                    <th>Edit & Delete</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var hospital in Model)
                {
                    <tr id="item-@hospital.Id">
                        <td>@hospital.HospitalName</td>
                        <td>@hospital.HospitalTown</td>
                        <td>@hospital.HospitalAddress</td>
                        <td>@hospital.HospitalEmail</td>
                        <td>@hospital.HospitalPhoneNumber</td>

                        <td>

                            <a asp-action="Edit" asp-controller="Hospital" asp-route-hospitalId="@hospital.Id" class="btn btn-warning">Edit</a>
                            <button class="delete-button btn btn-danger" data-id="@hospital.Id">Delete</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.delete-button').click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Hospital")',
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        $('#item-' + id).remove(); // Remove the item row from the table
                    } else {
                        // Handle failure
                    }
                }
            });
        });
    });
</script>